<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание собеседования</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/oform.css">
</head>
<body>
    <div class="form-container">
        <h1>Создание собеседования</h1>
        <div class="dynamic-content">
            {% block content %}
            {% endblock %}
        </div>
        <button class="return" onclick="window.location.href = '/';">Назад в главное меню</button>
    </div>
</body>
</html>
