<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание собеседования в расписании</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>
<body>
{% if part == 'recruiter' %}
    {% block recruiter %}
    {% endblock %}
{% elif part == 'vacancy' %}
    {% block vacancy %}
    {% endblock %}
{% elif part == 'candidate' %}
    {% block candidate %}
    {% endblock %}
{% elif part == 'date' %}
    {% block date %}
    {% endblock %}
{% endif %}
<button class="return" onclick="window.location.href = '/';">Назад в главное меню</button>
</body>
</html>