<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение данных</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>
<body>
<h1>Параметры собеседования:</h1>
<table>
    <tr>
        <td>Себеседование проводит</td>
        <td>{{ recruiter }}</td>
    </tr>
    <tr>
        <td>На вакансию</td>
        <td>{{ vacancy }}</td>
    </tr>
    <tr>
        <td>Опрашиваемый</td>
        <td>{{ candidate }}</td>
    </tr>
    <tr>
        <td>Дата проведения:</td>
        <td>{{ date }}</td>
    </tr>
</table>

<td class="redact">
    <button onclick="window.location.href = '?return=recruiter';">Редактировать</button>
</td>

<form method="post" action="/save">
    <input type="submit" name="save" value="Сохранить протокол">
</form>
</body>
</html>